.box{
  border: 1px solid blue;
  padding: 5px;
}
textarea{
  font-family: inherit;
  resize: none;
  margin-left: 2px;
  margin-top: 2px;
  outline: none;
  border-radius: 10px;
  border-color: blue;
}
p{
  text-align: center;
}
