html, body {
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  font-family: sans-serif;
  flex-direction: column;
}
.header{
  width: auto;
  height: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.fas {
  width: auto;
  color: crimson;
  font-size: 5em;
}
